<html>
<head>
  <title>Welcome to AllTimeTop5</title>
	<%= stylesheet_link_tag 'base' %>
	<%= stylesheet_link_tag 'home' %>
</head>
<body>
	<%= yield %>
	<%= render :partial => 'common/footer' -%>
</body>
</html>