<html>
<head>
  <title>Welcome to AllTimeTop5</title>
 	<%= stylesheet_link_tag 'scaffold' %>
	<%= stylesheet_link_tag 'base-style' %>
	<%= stylesheet_link_tag 'att5' %>
</head>
<body>
	<%= yield %>
	<%= render :partial => 'common/footer' -%>
</body>
</html>