<div class="header">
	<h1>alltimetop5</h1>
	<ul>
		<li class="my5"><%= link_to "My alltimetop5", :controller => "lists" -%></li>
		<li class="browse"><%= link_to "Browse other lists", :controller => "browse" -%></li>
	</ul>
	<div class="clear"></div>
</div>
