<h3>Admin</h3>
<ul>
	<li><%= link_to 'Show all users', :action => 'allusers' -%></li>
	<li><%= link_to 'Show all lists', :action => 'alllists' -%></li>
	<li><%= link_to 'System status', :action => 'system' -%></li>
</ul>