<h3>Admin: System info</h3>
<%= link_to 'Back to admin', :action => 'index' -%>
<h4>uptime</h4>
<pre>
<%= h(%x[uptime]) %>
</pre>
<h4>ps -aux</h4>
<pre>
<%= h(%x[ps -aux]) %>
</pre>
<h4>Disk Usage</h4>
<pre>
<%= h(%x[df -H]) %>
</pre>