<h3>Admin: Viewing list <%= @list.title -%></h3>
<%= link_to 'Back to lists', :action => 'alllists' -%>
<table border="1">
	<tr><td>List</td><td><%= @list.inspect -%></td></tr>
	<tr><td>User</td><td><%= @list.user.inspect -%></td></tr>
	<tr><th colspan="2">List entries</th></tr>
	<% for list_item in @list %>
	<tr><td><%= list_item.rank -%></td><td><%= list_item.inspect -%></td></tr>
	<% end %>
</table>
	