#center-wrap {text-align: center;}
#content-wrap {width: 730px;margin: 0 auto;text-align: left;}

#main-content {min-height: 300px;margin: 10px 30px 10px 10px;}
#main-content h2 {width:490px;}

#sidebar-right {float: right;}

div.clear {clear: both;}

p.flash-notice {color: green; border:1px dotted green;font-size: 1.4em;width:450px;padding-left:3px;}
p.flash-error  {color: red; border:1px solid red;font-size: 1.4em;width:450px;padding-left:3px;}

.cloud li {display:inline;list-style:none;}
.cloud a.one {font-size: 0.8em;}
.cloud a.two {font-size: 1em;}
.cloud a.three {font-size: 1.2em;}
.cloud a.four {font-size: 1.5em;}
.cloud a.five {font-size: 2em;}

.manage-list .buttons{display:block; float:right;margin-bottom:3px;}
.manage-list li {display:block; min-height:40px; border-top:1px solid #CC6600; 
	padding-top:5px;clear:both;}

.browse-tag-cloud{border-top:1px solid #CC6600;margin-bottom:10px;}
.browse-tag-cloud .all-tags{display:block;float:right;}

.browse-users {float:left;border-top:1px solid #CC6600;width:325px;}
.browse-users input {float:left;}
.browse-users .buttons {float:right; margin-bottom:3px;}

.browse-lists {float:right;border-top:1px solid #CC6600;width:325px;}
			
.login-forms label {float:left;}
.login-forms input {float:right;}
.login-forms p {clear:both; width:420px;}
.login-forms .buttons {clear:both;}

.ListItemFormGroup{border-top:1px solid #CC6600;margin-top:10px;padding-top:3px;width:500px;}
.ListItemFormGroup h4{float:left;padding-right:5px;}

.visitlist-left {float:left;width:400px;}
.visitlist-right {margin-top:40px;float:right;width:200px;margin-bottom:3px;}
.sidebox {border:solid 1px #CC6600;margin-bottom:5px;}
.sidebox h3 {margin-left:0.2em;}
.sidebox li {list-style:none;}
* html .visitlist-right {width:120px;}

h2.list-heading {clear:both;}

div.comments {width:450px;background-color:#fafafe;float:left;margin:10px 0;border:1px solid #003366;padding-bottom:3px;}
div.comments dl {clear:both;padding:5px 2px 0 10px;}
div.comments dl dt,dd {float:left;}
div.comments dl dt {width:100px;}
div.comments dl dd {float:left;margin:0 3px 0 5px;background-color:#fff;border:1px solid #CC6600;width:320px;min-height:60px;}
div.comments #new_comment {padding:10px 0 2px 20px;}

/* list edit page stuff */
div #list {padding:5px;margin:5px 0 15px 0;float:left;clear:both;}
#list .list-item {background-color:#fff;border-top:1px solid #CC6600;clear:left;padding-top:2px;float:left;width:550px;}
#list .list-item h4 {font-size:2em;float:left;margin-top:5px;}
#list .list-item .up-down-buttons {float:left;width:25px;}
#list .list-item dl {float:left;width:450px;margin-bottom:5px;}
#list .list-item dt {font-weight:bold;font-size:1.1em;}
#list .list-item dd {text-indent:0.5em;}
#list .list-item .list-item-actions {float:right;}
#list .list-item input, textarea {float:left;}
#list .list-item img:hover {background-color:#eee;}
#list .list-item .buttons {float:right;}

.edit-preamble {width:550px;}
#list-header {width:550px;float:left;}
#list-header .buttons {clear:left;float:right;margin:3px 0px 2px 10px;}

.edit-content {float:left;}
.edit-content label {width:100px;float:left;text-align:right;font-size:1.1em;padding-right:3px;}
.edit-content img {border:0;}
.edit-content input, textarea {margin-top:2px;width:350px;}

.new-list-content {float:left;width:570px;}
.new-list-content #list-header.new-list-block {clear:both;border-top:1px solid #CC6600;margin-top:5px;padding-top:3px;}