<div class="home-left">
	<h1>Alltimetop5</h1>
</div>
<div class="home-center">
	<ul>
		<li><strong>Steve Roberts</strong> - Helped with the design and cooked up a great
			logo. Runs a cool site for organising events called <a href="http://meetyah.com/">Meetyah</a>.</li>
		<li><strong>Slicehost</strong> - Pretty good vps hosting! Enough said, <a href="http://slicehost.com/">check them out</a></li>
		<li><strong>Mark James</strong> - I'm using his really awesome <a href="http://www.famfamfam.com/lab/icons/silk/">silk icon set</a> which is licensed out under the creative commons license.
	</ul>
</div>