<div class="clear"></div>
<h3>All time top 5 <%= list.title %>&nbsp;<%= link_to_remote ( image_tag('icons/page_edit.png'),
		:url => {	:controller => 'lists',
					:action		=> 'ajax_edit',
					:id			=> list },
		:method => :get,
		:update => 'list-header' )%></h3>
<% unless list.comment.blank? %>
<p><%= list.comment -%></p>
<% end %>