#center-wrap {text-align: center;}
#content-wrap {width: 650px;margin: 0 auto;text-align: left;}

#main-content {min-height: 300px;margin: 10px 30px 10px 10px;}
#main-content h2 {width:490px;}

#sidebar-right {float: right;}

div.clear {clear: both;}

p.flash-notice {color: green; border:1px dotted green;font-size: 1.4em;width:450px;padding-left:3px;}
p.flash-error  {color: red; border:1px solid red;font-size: 1.4em;width:450px;padding-left:3px;}

.cloud li {display:inline;list-style:none;}
.cloud a.one {font-size: 0.8em;}
.cloud a.two {font-size: 1em;}
.cloud a.three {font-size: 1.2em;}
.cloud a.four {font-size: 1.5em;}
.cloud a.five {font-size: 2em;}

.manage-list .buttons{display:block; float:right;margin-bottom:3px;}
.manage-list li {display:block; min-height:40px; border-top:1px solid #CC6600; 
	padding-top:5px;clear:both;}

.browse-tag-cloud{border-top:1px solid #CC6600;
	border-bottom:1px solid #CC6600;margin-bottom:10px;}
.browse-tag-cloud .all-tags{display:block;float:right;}

.browse-users {float:left;border-top:1px solid #CC6600;
		border-bottom:1px solid #CC6600;width:300px;}
.browse-users input {float:left;}
.browse-users .buttons {float:right; margin-bottom:3px;}

.browse-lists {float:right;border-top:1px solid #CC6600;
			border-bottom:1px solid #CC6600;width:300px;}
			
.login-forms label {float:left;}
.login-forms input {float:right;}
.login-forms p {clear:both; width:420px;}
.login-forms .buttons {clear:both;}

.ListItemFormGroup{border-top:1px solid #CC6600;margin-top:10px;padding-top:3px;width:500px;}
.ListItemFormGroup h4{float:left;padding-right:5px;}

.visitlist-left {float:left;width:400px;}
.visitlist-right {margin-top:40px;border:solid 1px #CC6600;float:right;width:200px;}
* html .visitlist-right {margin-left:-50px;}
