body
{
	font-family: Trebuchet, Verdana, Sans-Serif;
}

#header h1
{
	float: left;
	background-image: url('/images/alltimetop5BETA.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 308px;
	height: 90px;
	text-indent: -100em;
}

#header ul
{
	margin: 0;
	padding: 60px 0 0 75px;
	cursor: default;
	list-style-type: none;
	display: inline;
	display: table;
}

#header ul li
{
	list-style-type: none;
	display: inline;
	padding: 5px 10px 5px 10px;
	border: solid #000 1px;
	margin: 5px 5px 5px 5px;
}

#center-wrap
{
	text-align: center;
}

#content-wrap
{
	width: 650px;
	margin: 0 auto;
	text-align: left;
}

#main-content
{
	min-height: 400px;
	margin: 10px 30px 10px 10px;
}

#sidebar-right
{
	float: right;
}

div.clear
{
	clear: both;
}

.tag_cloud a.one
{
	font-size: 0.8em;
}

.tag_cloud a.two
{
	font-size: 1em;
}

.tag_cloud a.three
{
	font-size: 1.2em;
}

.tag_cloud a.four
{
	font-size: 1.5em;
}

.tag_cloud a.five
{
	font-size: 2em;
}

