/* sprites */
h1,h2{background:#fff url(img/sprites.gif) no-repeat 0 0;text-indent:-9000px;}
h1{width:270px;height:240px;}
h2{width:200px;height:30px;}
h2.about{background-position:0 -500px;}
h2.create5{background-position:0 -440px;}
h2.search{background-position:0 -550px;}
h2.featured5{background-position:-4px -255px;height:40px;}
h2.Browse5{background-position:0 -315px;}
h2.Top5Tags{background-position:0 -368px;}
h2 a {display:block;height:30px;}
h2.featured5 a {width:200px;height:40px;}
h2.Browse5 a {width:140px;}
h2.Top5Tags a {width:160px;}

/*layout*/
.home-left{float:left;width:270px;}
.home-right{float:right;display:block;width:210px;margin-top:60px;}
.home-center{float:left;width:390px;margin:0 0 0 30px;margin-top:50px;}

/*custom classes*/
ol.top5{border:1px solid #CC6600;margin-left:0;margin-right:2em;padding:0.5em 10px 0.5em 2em;}
ol.top5 li strong{color:#CC6600;line-height:1.6;}

.wrap {text-align:left;}