<h2>Browsing</h2>
<p>Feel free to have a look around at some of the other lists our users have created.</p>
<p>If someone you know is using the site you can <%= link_to "search users here", :action => "finduser" -%> by email address or username.</p>
<p>If you just want to go straight to the lists you can <%= link_to "browse lists here", :action => "lists" -%>.</p>