<h3>Browsing Lists</h3>
<ul>
<% for list in @lists %>
	<li>
		<%= link_to "All time top 5 #{h(list.title)}",
			:action => 'visitlist',
			:id => list,
			:username => list.user.username -%> by <strong><%= h list.user.username -%></strong>
	</li>
<% end %>
</ul>