<div class="ListItemFormGroup">
<%= error_messages_for 'list_item' %>

<!--[form:list_item]-->
<p><label for="list_item_title">Title</label>
<%= text_field 'list_item', 'title'  %></p>

<p><label for="list_item_comment">Reason it belongs here</label><br/>
<%= text_area 'list_item', 'comment', :cols => "30", :rows => "3"  %></p>
<!--[eoform:list_item]-->
</div>

